<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="site.css" />
</head>

<body>



    <nav class="navbar">
        <div class="logo-container">
            <img src="logo.svg" alt="Logo" class="logo" />
        </div>

        <div class="navbar-links">
            <div class="navbar-link active">HOME</div>
            <div class="navbar-link">COMICS</div>
        </div>
        <div class="container">
           
                <button type="submit">Logout
                    <div class="arrow-icon">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </div>
                </button>

        </div>
        </form>
        </div>
    </nav>

    
    <section class="wrap center">
        <section>

            <div class="comic">
                <img src="image/portrait_uncanny.jpg" alt="">

                <div class="comic-info">
                    <h2>Marvel Universe Ultimate Spider-Man: Spider-Verse (2018) #5</h2>
                    <div class="frame-parent">
                        <div class="published-parent">

                            <h5>Published</h5>
                            <p class="info">June 19, 2018</p>

                        </div>
                        <div class="published-parent">

                            <h5>Writer</h5>

                            <p class="info">Vc Joe Caramagna</p>
                        </div>
                    </div>
                    <div class="frame-parent">
                        <div class="published-parent">
                            <h5>Cover Artist</h5>
                            <p class="info">Various</p>
                        </div>
                        <div class="published-parent">
                            <h5>Pencil</h5>
                            <p class="info">Various</p>

                        </div>
                    </div>
                    <p>The Green Goblin is on a Spider-DNA-stealing rampage through multiple dimensions…this time
                        running afoul of the Medieval Age’s Spyder-Knight!</p>
                    <div class="frame-parent">
                        <div class="published-parent">
                            <H5>Price</h5>
                            <p class="info">$ 12.99</p>
                        </div>
                        <div class="published-parent">
                            <h5>Stock</h5>
                            <p class="info">999</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        <hr>
            <br> <br>
            <h2 style="text-align: center;">You Might Also Like</h2>
            <br>
        
            <div class="card-container">

                <div class="card">
                    <img class="card-image" alt="" src="image/portrait_uncanny.jpg">
                    <div class="detail">
                        <p>The Amazing Spider-Man (2022)</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="button2">
                        <div class="button-label">Details</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-image" alt="" src="image/portrait_uncanny.jpg">
                    <div class="detail">
                        <p>The Amazing Spider-Man (2022)</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="button2">
                        <div class="button-label">Details</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-image" alt="" src="image/portrait_uncanny.jpg">
                    <div class="detail">
                        <p>The Amazing Spider-Man (2022)</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="button2">
                        <div class="button-label">Details</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-image" alt="" src="image/portrait_uncanny.jpg">
                    <div class="detail">
                        <p>The Amazing Spider-Man (2022)</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="button2">
                        <div class="button-label">Details</div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-image" alt="" src="image/portrait_uncanny.jpg">
                    <div class="detail">
                        <p>The Amazing Spider-Man (2022)</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="button2">
                        <div class="button-label">Details</div>
                    </div>
                </div>
            </div>

            <!-- Add admin-specific content here -->


          
        </section>
        <footer class="footer">

            <div class="footer-container">

                <div class="footer-text">©2025 MARVEL</div>

            </div>
        </footer>

        <!-- Logout Button Form -->
</body>

</html>