<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="site.css" />
</head>

<body>


    
    <nav class="navbar">
        <div class="logo-container">
            <img src="logo.svg" alt="Logo" class="logo" />
        </div>

        <div class="navbar-links">
            <div class="navbar-link active">HOME</div>
            <div class="navbar-link">COMICS</div>
        </div>
        <div class="container">
           
                <button type="submit">Logout
                    <div class="arrow-icon">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </div>
                </button>

        </div>
        </form>
        </div>
    </nav>
    <section class="wrap center">

        <div>

        </div>
        <h2>@ViewData["Title"]</h2>
      

        <div class="row">
            <div class="col-left">

                <div class="mask-group-wrapper">
                    <br><br>
                    <img class="mask-group-icon" alt="" src="~/ManagerProfile.jpg">

                </div>
                <br><br>
                <div class="title">MANAGER</div>
                <br><br>
                <a href="#">
                    <div class="task">SETTING</div>
                </a>

            </div>
            <div class="col-right">

                <p>Welcome, Admin! You have full access to the application.</p>
                <button type="submit" class="btn btn-info">
                    Add New Book <div class="arrow-icon">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </button>


                <div class="text-row">
                    <a href="#" class="link">
                        <div class="text">0</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">1</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">2</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">3</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">4</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">5</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">6</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">7</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">8</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">9</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">A</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">B</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">C</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">D</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">E</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">F</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">G</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">H</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">I</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">J</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">L</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">M</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">O</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">N</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">P</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">Q</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">R</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">S</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">T</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">U</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">V</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">W</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">X</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">Y</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">Z</div>
                    </a>
                </div>
                <table class="minimalistBlack">
                    <thead>
                        <tr>
                            <th>Book Name</th>
                            <th>ISBN</th>
                            <th>Stock</th>
                            <th>Publication date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marvel Universe Ultimate Spider-Man: Spider-Verse (2018) #5</td>
                            <td>9780307976598</td>
                            <td>999</td>
                            <td>Feb. 26 2025</td>
                            <td>
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Marvel Universe Ultimate Spider-Man: Spider-Verse (2018) #5</td>
                            <td>9780307976598</td>
                            <td>999</td>
                            <td>Feb. 26 2025</td>
                            <td>
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="text-row">
                    <a href="#" class="link">
                        <div class="text">EMPOLYEES</div>
                    </a>
                    <a href="#" class="link">
                        <div class="text">USERS</div>
                    </a>
                </div>

                <table class="minimalistBlack">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marvel Universe Ultimate Spider-Man: Spider-Verse (2018) #5</td>
                            <td>9780307976598</td>
                            <td>999</td>
                            <td>Feb. 26 2025</td>
                            <td>
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Marvel Universe Ultimate Spider-Man: Spider-Verse (2018) #5</td>
                            <td>9780307976598</td>
                            <td>999</td>
                            <td>Feb. 26 2025</td>
                            <td>
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>






                <!-- Add admin-specific content here -->
            </div>
        </div>
      
        <div id="comicsList"></div>






       
    </section>
    <footer class="footer">

        <div class="footer-container">

            <div class="footer-text">©2025 MARVEL</div>

        </div>
    </footer>

    <!-- Logout Button Form -->
</body>

</html>