@page
@model MarvelWebApp.Models.LoginViewModel
@{
    @* ViewData["Title"] = "Login"; *@
}

@* <h2>@ViewData["Title"]</h2> *@

<form method="post">
    @Html.AntiForgeryToken()  <!-- Add this line to include the anti-forgery token -->
    <div class="form-group">
        <label for="Input_Email">Email</label>
                @* <label for="Email">Email</label>
                        <input type="email" id="Email" name="Email" class="form-control" required /> *@
        <input type="email" id="Input_Email" name="Email" class="form-control" required />
    </div>
    <div class="form-group">
                @* <label for="Password">Password</label> *@
        <label for="Input_Password">Password</label>
        <input type="password" id="Input_Password" name="Password" class="form-control" required />
                @* <input type="password" id="Password" name="Password" class="form-control" required /> *@
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

@* @if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @ViewData["ErrorMessage"]
    </div>
} *@

